/* SPACES */
$base-space-4: 4px;
$base-space-8: 8px;
$base-space-16: 16px;
$base-space-24: 24px;
$base-space-32: 32px;
$base-space-48: 48px;
$base-space-64: 64px;

/* BORDER RADIUS */
$base-border-radius-4: 4px;
$base-border-radius-8: 8px;
$base-border-radius-16: 16px;
$base-border-radius-24: 24px;
$base-border-radius-32: 32px;

/* COLORS */
$base-color-red: #ff4359;
$base-color-grey: #afafaf;
$base-color-light-grey: #c3c3c3;
$base-color-white: #ffffff;

/* DIMENSIONS */
$base-component-height: 700px;

/* Z INDEX */
$z-index-modal: 500;
$z-index-app-header: 10;
$z-index-nav: 8;

/* BOX SHADOW */
$box-shadow-color-red: 0px 0px 61px 13px rgba(255, 67, 89, 0.55);
$box-shadow-nav-color-red: 0px 12px 24px -14px rgba(255, 67, 89, 1);
$box-shadow-nav-color-grey: 0px 8px 5px -4px rgba(66, 68, 90, 0.25);

/* FONT SIZE */
$base-font-size-primary: 1rem;
$base-font-size-large: 2rem;
$base-font-size-medium: 0.8rem;
$base-font-size-small: 0.5rem;